#Input3 .inputs{width:100%;height:100%;;min-width:600px;}
#Input3 li{list-style:none;padding:1px;}
#Input3 li>textarea{border-radius:5px;border:1px solid #bdbdbd; 
            width:50%;height:5em;}

#Input3 li>input{border-radius:5px;
        border:1px solid #bbbbbb;
        width:20px; height:20px; margin-left:0px; }
        
#Input3 li>label{color:#bdbdbd}
#Input3 input[type="number"]::-webkit-outer-spin-button,
#Input3 input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}