#Input2 .inputs{width:100%;height:100%;margin-left:15%;min-width:600px;}
#Input2 li{list-style:none;padding:1px;}
#Input2 li>label{color:#bdbdbd}

#Input2 li>input{border-radius: 5px;
        border:1px solid #bbbbbb;
        width:50%; height:2.5em;
        margin-top:10px;}

#Input2 li:nth-child(1)>input{width:37%;}
#Input2 li:nth-child(1)>button{width:10%;margin-left:20px;height:3em;
                      background-color:white;border:1px solid #bbbbbb;
                      min-width:50px;border-radius:5px;font-size:11px;}

#Input2 li:nth-child(4)>input{width:70px;margin :10px 10px 10px 10px;}
#Input2 input[type="number"]::-webkit-outer-spin-button,
#Input2 input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}