#SignStep {position: absolute;min-width:100%;max-width:100%;height:100em;}
#SignStep .left{float:left;width:33%;height:50em;
    background-color: #fee666;}
#SignStep .middle{float:left;width:33%;height:50em;
     background-color:white;min-width:33%;}
#SignStep .right{float:left;width:33%;height:50em;
      background-color: #fee666;}


#SignStep .arrow{border-radius:100%;border:none;width:5em;height:5em; background-color: white;}
#SignStep #arrowLeft{position: relative;float:right;right:30px;top:20em;}
#SignStep #arrowRight{position: relative;float:left;left:30px;top:20em;}

#SignStep #logo{margin : 4em 37% ;min-width:500px;}

#SignStep .content{height:28em}

#SignStep .middle>footer>button{border-radius:5px;}
#SignStep .middle>footer>#cancel{color:#707070;background-color:white;border:1px solid #dfdfdf;
                        width:10%;height:3em;min-width:50px;margin-left:23%;
                        box-shadow:0px 3px 6px #d6d6d6}
#SignStep .middle>footer>#done{color:white;background-color: #fee666;border:none;
                        width:40%;height:3em;margin-left:60px;
                        box-shadow:0px 3px 6px #b6b6b6;
                        font-weight: 600;}
